.container-search {
  text-align: center;
  margin-bottom: 50px;
  input[type="text"] {
    border: none;
    width: 20%;
    padding: 10px;
    outline: 0;
    background-color: $bck-opacity;
    border-radius: 4px;
    color: $color-white;
    font-size: 0.8rem;
    &::-webkit-input-placeholder {
      color: $color-white;
      text-align: center;
    }
  }
}

.weather-info {
  padding: 10px;
  margin: 0 auto;
  width: 500px;
  height: 300px;
  border-radius: 5px;
  background-color: $bck-opacity;
  color: $color-white;
  display: grid;
  grid-template-columns: 270px 230px;
  grid-row: 100px 100px;
  grid-gap: 10px;
  .icon-div {
    .icon {
      text-align: left;
      padding: 20px 10px;
      font-size: 4.5rem;
    }
    h2 {
      padding-top: 60px;
      font-size: 1.7rem;
      float: right;
    }
    h3 {
      text-align: right;
    }
  }
  .details {
    text-align: right;
    h2 {
      font-weight: 400;
      font-size: 1.7rem;
      padding-right: 15px;
      padding-top: 10px;
      padding-bottom: 55px;
    }
    h3 {
      padding-right: 15px;
    }
  }
}
