.container-search {
  text-align: center;
  margin-bottom: 50px;
  input[type="text"] {
    border: none;
    width: 20%;
    padding: 10px;
    outline: 0;
    background-color: $bck-opacity;
    border-radius: 4px;
    color: $color-white;
    font-size: 0.8rem;
    &::-webkit-input-placeholder {
      color: $color-white;
      text-align: center;
    }
  }
}

.weather-info {
  padding: 10px;
  margin: 0 auto;
  width: 500px;
  height: 300px;
  border-radius: 5px;
  background-color: $bck-opacity;
  color: $color-white;
  .div-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, 170px);
    grid-gap: 10px;
    .icon-div {
      .icon {
        padding: 10px 10px;
        font-size: 4.3rem;
      }
      h2 {
        padding-top: 30px;
        font-size: 1.7rem;
        float: right;
      }
      h3 {
        margin-top: 35px;
        font-size: 1.2rem;
        text-align: right;
      }
    }
    .details {
      text-align: right;
      h2 {
        font-weight: 400;
        font-size: 1.7rem;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 60px;
      }
      h3 {
        padding-right: 15px;
      }
    }
  }
  .fore-cast {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    // grid-gap: 10px;
    .box {
      border-right: 1px solid rgb(195, 228, 228);
    }
  }
}
