.container-search {
  input[type="text"] {
    border: none;
    width: 20%;
    padding: 10px;
    outline: 0;
    background-color: $bck-opacity;
    border-radius: 4px;
    margin-bottom: 50px;
  }
  .weather-info {
    padding: 10px;
    margin: 0 auto;
    width: 500px;
    height: 300px;
    background-color: $bck-opacity;
    color: $color-white;
  }
}
