body,
html {
  width: 100%;
  height: 100%;
}

.main {
  background: url("/src/img/back.jpg") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
}